.game-wrapper {
  margin: 1em;

  .header {
    text-align: left;
    margin-bottom: 2em;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(3, 2em);
  }
}
